context: {{ talosctl_config_name }}
contexts:
    {{ talosctl_config_name }}:
        endpoints: {{ talosctl_config_endpoints }}
        ca: {{ talosctl_config_ca }}
        crt: {{ talosctl_config_crt }}
        key: {{ talosctl_config_key }}
