{
    "port": "{{ shinobi_role_port }}",
    "passwordType": "sha256",
    "detectorMergePamRegionTriggers": true,
    "addStorage": [
        {"name":"second","path":"__DIR__/videos2"}
    ],
    "db": {
        "host": "{{ shinobi_role_db_host }}",
        "user": "{{ shinobi_role_db_user }}",
        "password": "{{ shinobi_role_db_pass }}",
        "database": "ccio",
        "port": "{{ shinobi_role_db_port }}"
    },
    "cron":{
        "key":"{{ shinobi_role_random_key }}"
    },
    "pluginKeys":{}
}